<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAS Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:40:19</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:40:19</td>   <td>81</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:40:19</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:40:19</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>18/02/12 11:40:19</td>   <td>100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightsPageTestCase_101.executionFlightsPage()[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">executionFlightsPage</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:41:07</td>   <td>47437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:41:07</td>   <td>47438</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:41:07</td>   <td>47440</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>18/02/12 11:41:07</td>   <td>47512</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@473b46c3]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
</table>
