<h2>Reporter output</h2><table><tr><td>Browser Opened</td></tr>
<tr><td>Clicked on flights</td></tr>
<tr><td>Clicked on FlightsOnly</td></tr>
<tr><td>Clicked On Oneway</td></tr>
<tr><td>Entered Origin</td></tr>
<tr><td>Entered Destination</td></tr>
<tr><td>Selected Date</td></tr>
<tr><td>Clicked on Search</td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>
Expected: a string containing "Jet Airways"
     Actual: was "Jet Airways" <a href="../img/executionFlightsPage_rorfew4ohonn16320.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>