<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:41:10</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:41:10</td>   <td>43</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:41:10</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:41:10</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/02/13 15:41:10</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightsPageTestCase_101.executionFlightsPage()[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">executionFlightsPage</td> 
  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:42:14</td>   <td>63515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:42:14</td>   <td>63516</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:42:14</td>   <td>63518</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/13 15:42:14</td>   <td>63854</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightsPageTestCase_101@140e5a13]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
</table>
