<h2>Reporter output</h2><table><tr><td>Browser Opened</td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Timed out after 30 seconds waiting for presence of element located by: By.id: primary-header-flight
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'ICPL11492', ip: '10.11.31.100', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_144'
Driver info: driver.version: QAFExtendedWebDriver</div></div></td></tr>
</table>